legend {
  text-align: center;
  font-weight: bold;
}
h1 {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size:25px;
  background:linear-gradient(90deg, red,gray);
  border-radius: 10px;
}
body {
font-size: 20px;
}
button {
  background-color: #1877f2;
  font-size: 20px;
  border-radius: 10px;
  margin: 0 auto;
}
input {
  border-radius: 5px;
}
textarea {
  border-radius: 5px;
  margin: auto;
}